anyio==4.14.2
asgiref==3.12.1
bidict==0.24.1
certifi==2026.7.22
click==8.5.0
colorama==0.4.6
Django==6.1
django-cors-headers==4.9.0
django-htmx==1.29.0
djangorestframework==3.18.0
whitenoise==6.11.0
granian==2.8.2
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.19
iniconfig==2.3.0
et-xmlfile==2.0.0
markdown-it-py==4.2.0
openpyxl==3.1.5
mdurl==0.1.2
packaging==26.3
platformdirs==4.11.7
pluggy==1.6.0
psutil==7.2.2
psycopg2-binary==2.9.12
Pygments==2.21.0
pytest==9.1.1
pytest-django==4.14.0
python-dotenv==1.2.3
python-engineio==4.14.0
python-multipart==0.0.32
python-socketio==5.16.4
redis==7.4.1
reflex==0.9.9
reflex-base==0.9.9
reflex-components-code==0.9.4
reflex-components-core==0.9.9
reflex-components-dataeditor==0.9.2
reflex-components-gridjs==0.9.1
reflex-components-lucide==1.0.4
reflex-components-markdown==0.9.3
reflex-components-moment==0.9.3
reflex-components-plotly==0.9.5
reflex-components-radix==0.9.8
reflex-components-react-player==0.9.2
reflex-components-recharts==0.9.2
reflex-components-sonner==0.9.2
reflex-hosting-cli==0.1.71
rich==15.0.0
simple-websocket==1.1.0
sqlparse==0.6.0
starlette==1.6.0
typing_extensions==4.16.0
tzdata==2026.3
watchfiles==1.2.0
wrapt==2.1.2
wsproto==1.3.2
